<h1>Animal Shop Game</h1>

<ng-container *ngIf="customerStore | async as customer; else noCustomer">
    <h2>{{customer.name}}, you have {{customer.amount}} $ left</h2>


    <div class="animal-shop">
        <app-wrap-web-component *ngIf="elephantProductConfig" [configuration]="elephantProductConfig"
                                (newTransaction)="pushTransaction($event)">
            <product-element #contentRef></product-element>
        </app-wrap-web-component>
        <app-wrap-web-component *ngIf="catProductConfig" [configuration]="catProductConfig"
                                (newTransaction)="pushTransaction($event)">
            <product-element #contentRef></product-element>
        </app-wrap-web-component>
        <app-wrap-web-component *ngIf="tigerProductConfig" [configuration]="tigerProductConfig"
                                (newTransaction)="pushTransaction($event)">
            <product-element #contentRef></product-element>
        </app-wrap-web-component>
        <app-wrap-web-component *ngIf="parrotProductConfig" [configuration]="parrotProductConfig"
                                (newTransaction)="pushTransaction($event)">
            <product-element #contentRef></product-element>
        </app-wrap-web-component>
        <app-wrap-web-component *ngIf="dogProductConfig" [configuration]="dogProductConfig"
                                (newTransaction)="pushTransaction($event)">
            <product-element #contentRef></product-element>
        </app-wrap-web-component>

    </div>
    <h3>Transactions:</h3>
    <ul>
        <li *ngFor="let transaction of transactionList$ | async"> {{transaction.product}} - {{transaction.amount}}</li>
    </ul>
</ng-container>

<ng-template #noCustomer>
    <form [formGroup]="initForm">
        <input formControlName="name" type="text" placeholder="name" required/>
        <input formControlName="amount" type="number" placeholder="$$$ wallet amount" required/>

        <button [disabled]="! initForm.valid" (click)="saveUserData()">send</button>
    </form>
</ng-template>





